body {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}



nav li {
    list-style-type: none;
    text-decoration: none;
    flex-basis: 5%;
    margin: 5px;
    padding-right: 5%;

}

h1 {
    text-align: center;
}

.burger {
    cursor: pointer;
    margin: 48%;
    font-size: 30px;
}

.navigation {
    display: none;
    justify-content: center;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: blue;
}


header {
    background-color: rgb(95, 95, 95);
    padding: 10px;
}

h2 {
    text-align: center;
}

main {
    padding: 20px;
}

figcaption {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

temple-container p .temple-cards img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.temple-cards {
    display: flex;
    flex-direction: column;
}

.temple-cards div {
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(165, 165, 165);
    text-align: center;
}

footer {
    background-color: rgb(95, 95, 95);
    color: #fff;
    text-align: center;
    padding: 10px;

}