@media screen and (min-width: 1200px) {

    header,
    main,
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 120px 1fr 1fr 1fr 1fr ;
        text-align: center;
        padding: 25px;
        margin: auto;
    }

    .weather {
        grid-column: 4;
        grid-row: 3;
    }

    h1 {
        grid-column: 1/5;
    }

    .main-image {
        grid-column: 1/5;
    }
}