body {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
    text-decoration: none;
    flex-basis: 5%;
    padding: 5px;

}

h1 {
    text-align: center;
}

.burger {
    cursor: pointer;

}

.navigation {
    display: none;
    justify-content: center;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: blue;
}


header {
    background-color: rgb(95, 95, 95);
    padding: 10px;
}

h2 {
    text-align: center;
}

main {
    padding: 20px;
}


img {
    width: 100%;
    height: auto;
}

footer {
    background-color: rgb(95, 95, 95);
    color: #fff;
    text-align: center;
    padding: 10px;

}